<!--  show all Users table with connections names -->
<table class="table">
 <thead class="thead-dark">
   <tr>
     <th scope="col">#</th>
     <th scope="col">Full Name </th>
     <th scope="col">Color </th>
     <th scope="col">Connections</th>
   </tr>
 </thead>
 <tbody>
   {{#each model as |user|}}
     <tr>
       <th scope="row">{{user.id}}</th>
       <td>
         {{#link-to 'show' user}}
           {{user.fname}} {{user.lname}}
         {{/link-to}}
       </td>
       <td>{{user.color}}</td>
       <td>{{user.connection}}</td>
     </tr>
   {{/each}}
 </tbody>
</table>
