
<header>
  <h2>{{model.fname}} {{model.lname}}</h2>
  <h3>Favorite Color:
    <span style="color: {{model.color}}">{{model.color}}</span>
  </h3>
</header>


<table>
  <thead>
    <h3>Connections:</h3>
    <tr>
      <th>Full Name</th>
      <th>Favorite Color</th>
      <th>Delete Connection</th>
    </tr>
  </thead>
    {{#each model.names as |name|}}
    <tr>
      <td>
        {{#link-to 'show' name.id}}
          {{name.full_name}}
        {{/link-to}}
        <br/>
      </td>
      <td style="color: {{name.color}}">
          {{name.color}}
        <br/>
      </td>
      <td >
        <button type="button" {{action "deleteConnection" name.id}}>Delete</button>
      </td>
    </tr>
    {{/each}}
</table>
