
<header>
  <h4><strong>{{model.fname}} {{model.lname}}</strong> -
    Favorite Color:
      <span style="color: {{model.color}}">{{model.color}}</span>
  </h4>
  <h3>
  </h3>
  <br/>
  <h6>{{model.fname}} {{model.lname}} Connections:</h6>
</header>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Favorite Color</th>
      <th scope="col">Delete Connection</th>
    </tr>
  </thead>
    {{#each model.names as |name|}}
    <tr>
      <td>
        {{#link-to 'show' name.id}}
          {{name.full_name}}
        {{/link-to}}
        <br/>
      </td>
      <td style="color: {{name.color}}">
          {{name.color}}
        <br/>
      </td>
      <td >
        <button type="button" {{action "deleteConnection" name.conn_id }}>Delete</button>
      </td>
    </tr>
    {{/each}}
</table>
